<div class="container">
	<div class="row">
		<div class="col-md-12 splash">
			<%p=image_path('splash.png')%>
			<img src=<%=p%>>
			<div class="text">
				<%p=image_path('text_eudo_cup.png')%>
				<img src=<%=p%>>
			</div>
			<div class="button">
				<%=link_to 'Descargar', download_path,class: 'btn btn-default btn-big'%>
			</div>
		</div>
	</div>
</div>